<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reddot.mvvmtodo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.reddot.ToDoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/Theme.MVVMTodo">
        <activity
            android:name="com.reddot.mvvmtodo.ui.SplashScreen"
            android:exported="true"
            android:theme="@style/SmartTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.reddot.mvvmtodo.ui.login.UserLoginActivity"
            android:exported="true"
            android:theme="@style/SmartTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.signUp.SignUpActivity"
            android:theme="@style/SmartTheme"
            android:exported="false" />
        <activity
            android:name="com.reddot.mvvmtodo.ui.MainActivity"
            android:theme="@style/Theme.MVVMTodo"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>